/* ------------------------------------------- */
/* NAVIGATION
/* ------------------------------------------- */

// NAVIGATION \\

.navigation {
    position: fixed;
    width: 100%;
    background: $color-white;
    z-index: 200;

    &__logo-a {
        position: fixed;
        top: 0;
        left: 5%;
        margin: 1.6rem 3.6rem;
        color: $color-white;
        height: 4.5rem;
    }

    &__list {
        list-style: none;
        background: rgba(0,0,0,0);
        overflow: hidden;
        color: $color-white;
        padding: 0;
        text-align: center;
        margin: 0;
        transition: 1s;
    }

    &__item {
        border-bottom: .2rem solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom .2s;

        &:focus {
            outline: none;
        }
    } 

    &__anchor {
        color: $color-black;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.7rem;  
        // IN ORDER TO AVOID THE NAVIGATION GLITCH WHILE SHOWING BORDER-BOTTOM, BORDER-BOTTOM NEEDS TO BE ADDED TO NORMAL (NON-FIX) ANCHOR ELEMENTS \\
        border-bottom: .2rem solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
        padding-bottom: 1rem;

        &:hover {
            border-bottom: .2rem solid $color-primary;
        }
    }

    &__menu-icon {
        background-color: $color-black;
        width: 100%;
        font-size: 3rem;
        text-align: right;
        box-sizing: border-box;
        padding: 1.5rem 1rem;
        color: $color-white;
        display: none;
    }
}

// * --- MEDIA QUERIES | MAKING NAVIGATION FOR MOBILES --- * \\
@include respond(phone) {

    .navigation {

        &__logo-a {
            position: fixed;
            top: 0;
            margin-top: 1.5rem;
            height: 4rem;
        }

        &__list {
            max-height: 0px;
            background-color: $color-white;
        }

        &__item {
            box-sizing: border-box;
            width: 100%;
            padding: 2.4rem 0;
            text-align: center;
        }

        &__menu-icon {
            display: block;
        }
    }

    nav.scroll ul {
        background-color: $color-white;
    }

    .showing {
        max-height: 50em;
    }
}

// JS PART OF THE NAVIGATION FOR MOBILES. THIS PART WILL BE ADDED TROUGH JS | \\
nav.scroll ul {
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-primary, .30);
}

nav ul li {
    display: inline-block;
    padding: 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: $color-black;
}

nav.scroll ul li a {
    color: $color-black;
    border-bottom: .2rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding-bottom: 1rem;
}

nav.scroll ul li a:hover,
nav.scroll ul li a:active {
    border-bottom: .2rem solid $color-primary;     
}


// FIXED NAV |  THIS CLASS IS ADDED  WHEN USER STARTS SCROLLING | JS PART
/*
.fixed {
    position: fixed;
    top: 0;
    height: 7rem;
    width: 100%;
    z-index: 20;
    border-bottom: .2rem solid $color-white;
    box-shadow: 0 1rem 4rem rgba($color-primary, .3);

    .navigation__anchor {
        border-bottom: .2rem solid transparent;
        transition: border-bottom .2s;
        padding-bottom: .5rem;
    }

    .navigation__anchor:hover {
        border-bottom: .2rem solid $color-primary;
    }
}*/